[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
zappa = "*"
boto3 = "*"
flask = "*"
flask-wtf = "*"
flask-talisman = "*"
logzero = "*"
lxml = "*"
requests = "*"

[dev-packages]
troposphere = "*"
toml = "*"
awacs = "*"

[requires]
python_version = "3.11"
