
function configureApp() {
    console.log("Configuring application ...");

    // AWS SDK credentials.
    window.credentials = {
      accessKeyId: "{{ access_key_id }}",
      secretAccessKey: "{{ secret_access_key }}",
      sessionToken: "{{ session_token }}",
    };


    // streamSaver config.
    window.mitm = "{{ url_for("static", filename="mitm.html") }}"

    // CSRF token.
    window.csrf_token = "{{ csrf_token() }}";
}
