{% extends "base.jinja2" %}
{% block content %}
    <h1>Browsing S3 Bucket <span id="bucket" data-bucket="{{ bucket_name }}">{{ bucket_name }}</span></h1>
            <div>
        <h3>Path: {% for component, path in path_components %}{% if loop.last %}{{ component }}{% else %}<a href="{{ url_for("browse", subpath=path) }}">{{component}}</a>{% endif %}/{% endfor %}</h3>
                <div>
                    <h4>Folders</h4>
                    {% if allow_create_folder %}
                    <div class="card text-white bg-dark mb-3">
                    <form class="folderform form-inline">
                      <div class="form-group mb-2">
                        <label for="foldername" class="sr-only">Folder Name</label>
                        <input type="text" class="form-control" id="foldername" value="">
                      </div>
                      <button id="create-folder" class="btn btn-primary mb-2">Create Folder</button>
                    </form>
                    </div>
                  {% endif %}
                    <table class="table table-striped table-dark table-hover">
                      <thead>
                        <tr>
                          <th scope="col">Name</th>
                          <th scope="col">Size</th>
                          <th scope="col">Last Modified</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for item in bucket_objects.folders %}
                        <tr>
                        <td><a href="{{ subpath }}/{{ item.key}}">{{ item.key }}</a></td>
                          <td>{{ item.size }}</td>
                          <td>{{ item.last_modified }}</td>
                          <td>
                            {% if allow_remove_folder %}
                            <a class="btn btn-primary" href="#" role="button" data-btnType="delete" data-key="{{ item.key }}" title="Delete folder."><i class="fa fa-trash" aria-hidden="true"></i></a>
                            {% endif %}
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                </div>
                <div>
                    <h4>Files</h4>
                    <table class="table table-striped table-dark table-hover">
                      <thead>
                        <tr>
                          <th scope="col">Name</th>
                          <th scope="col">Size</th>
                          <th scope="col">Last Modified</th>
                          <th scope="col"></th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for item in bucket_objects.files %}
                        <tr>
                          <td>{{ item.key }}</td>
                          <td>{{ item.size }}</td>
                          <td>{{ item.last_modified }}</td>
                          <td>
                            {% if allow_download_file %}
                            <a class="btn btn-primary" href="#" role="button" data-btnType="download" data-key="{{ bucket_path }}{% if bucket_path %}/{% endif %}{{ item.key }}" title="Download file."><i class="fa fa-download" aria-hidden="true"></i></a>
                            {% endif %}
                            {% if allow_remove_file %}
                            <a class="btn btn-primary" href="#" role="button" data-btnType="delete" data-key="{{ item.key }}" title="Delete file."><i class="fa fa-trash" aria-hidden="true"></i></a>
                            {% endif %}
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    {% if allow_upload_file %}
                    <div class="card text-white bg-dark mb-3">
                    <div class="card-header"><h5>Upload a file<h5></div>
                    <form class="uploadform">
                        <div>
                            <input id="fileupload" type="file" />
                            <div id="fileUploadHelp" class="form-text">File will be uploaded to the web site.</div>
                        </div>
                        <a id="upload-button" class="btn btn-primary" href="#" role="button" data-prefix="{{ bucket_path }}">Upload <i class="fa fa-upload" aria-hidden="true"></i></a>
                    </form>
                    </div>
                    {% endif %}
                </div>
            </div>
{% endblock %}
